body {
	background-color: #d3d3d3;
	font-family: helvetica, Arial, sans-serif;
}

.body {
	margin-left: 500px;
	text-align: left;
}

blockquote {	
	text-align: center;
	border: 1px solid white;
	width: 500px;

}


